<div class="jumbotron">
  <%= link_to 'Go to Category', categories_path %>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-primary float-right' %>
  <h1 class="display-4">Projects</h1>
  <hr class="my-4">

  <div id="projects">
    <%= render partial: 'projects' %>
  </div>
</div>

<script>
$(function(){
   $('.pagination a').attr('data-remote', 'true');
    $('.table a').attr('data-remote', 'true')
});
</script>