<div class="container">
		<div class="card text-center">
			<p id="notice"><%= notice %></p>
			<div class="card-body">
				<h1 class="card-title"><%= @category.name %></h1>
			</div>
			<div class="card-footer text-muted">
				<%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-primary' %> |
				<%= link_to 'Back', categories_path, class: 'btn btn-primary' %>
			</div>
		</div>
</div>